.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    align-items: center;  
   
    margin-top: 20px;
}
.card{
    width: 170px;
    height:350px;
    border-radius: 15px;
    position: relative;
    background-color: transparent;
    color: white;
    margin: 0 15px;
    img{
        width: 170px;
        object-fit: cover;
        border-radius: 15px;
        cursor: pointer;
    }
    h3{
        font-size: 16px;
        font-weight: 500;
    }
    h4{
        font-size: 14px;
        font-weight: 300;
        margin-top: 0;
    }
    
}
.bubble{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    font-weight: 500;
    bottom: 80px;
    right: 10px;
    border: 1px solid white;
    background-color: rgb(34, 34, 34);
}
.backButton{
    background-color: transparent;
        color: white;
        height: 30px;
        width: 80px;
        border-radius: 5px;
        border: 1px solid white;
        margin-top: 20px;
        margin-left: 50px;
        position: fixed;
        cursor: pointer;
}