.example-spacer {
    flex: 1 1 auto;
  }
.gradient{
  background: rgb(124,57,226);
  background: linear-gradient(336deg, rgba(124,57,226,1) 0%, rgba(0,139,128,1) 100%);

  color: white;
  font-weight: 500;
  font-size: 20px;
}
.link{
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
  cursor: pointer;
}