.index{
  position: fixed;
  top: 0;
  z-index: 1;
}

.show-mobile{
  display: none;
}
.example-spacer {
    flex: 1 1 auto;
  }
.gradient{
  background: rgb(124,57,226);
  background: linear-gradient(336deg, rgba(124,57,226,1) 0%, rgba(0,139,128,1) 100%);

  color: white;
  font-weight: 500;
  font-size: 20px;
}
.link{
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
  cursor: pointer;
}
.logo{
  cursor: pointer;
}
.popout{
  position: fixed;
  top: 64px;
  right: 0;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0 0 20px 20px ; 
  gap: 20px;
  padding: 20px 0;
  width: 150px;
  transform: translateY(-200px);
  transition: all 250ms ease-in-out;
  z-index: 1;
}
.show-menu{
  transform: translateX(0) !important;
}
@media(max-width:850px){
  .hide-mobile{
    display: none;
  }
  .show-mobile{
   display: block;
  }

}
@media(max-width:600px){
  .popout{
    top: 56px;
  }
}