<div *ngIf="(detailData.movieData != '')" class="detailBox" style=" background-image: url(https://image.tmdb.org/t/p/w500{{detailData.movieData.backdrop_path}});background-size: cover;">
    <div class="backgroundBox">
       <img loading="lazy" src="https://image.tmdb.org/t/p/w500{{detailData.movieData.poster_path}}">
        <div>
            <h1>{{detailData.movieData.title}}</h1>
            <div class="infoLine">
                <span>Release Date: {{detailData.formatDate(detailData.movieData.release_date)}}</span><br>
                <span>Genre: </span>
                <span class="genreTag" *ngFor="let tag of detailData.movieData.genres">{{tag.name}}</span>
            </div>
            <div>
                <span><b>Handlung</b></span>
                <span class="textBox">{{detailData.movieData.overview}}</span>
                <button (click)="back()">Zurück</button>
            </div>
        </div> 
    </div>
    <div class="actors" *ngIf="detailData.movieCreditData != ''">
        <h3>Hauptdarsteller</h3>
        <div class="scroll">
            <mat-card class="castCard"  *ngFor="let card of detailData.movieCreditData.cast.slice(0,10)"  >
                <img mat-card-image src="https://image.tmdb.org/t/p/w500{{card.profile_path}}">
                <mat-card-title>{{card.name}}</mat-card-title>
                <mat-card-subtitle>{{card.character}}</mat-card-subtitle>
                
              </mat-card>
        </div>
    </div>
</div>

<div *ngIf="(detailData.showData != '')" class="detailBox" style=" background-image: url(https://image.tmdb.org/t/p/w500{{detailData.showData.backdrop_path}});background-size: cover;">
    <div class="backgroundBox">
       <img loading="lazy" src="https://image.tmdb.org/t/p/w500{{detailData.showData.poster_path}}">
        <div>
            <h1>{{detailData.showData.title}}</h1>
            <div class="infoLine">
                <span>Release Date: {{detailData.formatDate(detailData.showData.first_air_date)}}</span><br>
                <span>Genre: </span>
                <span class="genreTag" *ngFor="let tag of detailData.showData.genres">{{tag.name}}</span>
            </div>
            <div>
                <span><b>Handlung</b></span>
                <span class="textBox">{{detailData.showData.overview}}</span>
                <button (click)="back()">Zurück</button>
            </div>
        </div> 
    </div>
    <div class="actors" *ngIf="detailData.showCreditData != ''">
        <h3>Hauptdarsteller</h3>
        <div class="scroll">
            <mat-card class="castCard"  *ngFor="let card of detailData.showCreditData.cast.slice(0,10)"  >
                <img mat-card-image src="https://image.tmdb.org/t/p/w500{{card.profile_path}}">
                <mat-card-title>{{card.name}}</mat-card-title>
                <mat-card-subtitle>{{card.character}}</mat-card-subtitle>
                
              </mat-card>
        </div>
    </div>
    
</div>
